.Navbar {
  background: #262626;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 5%;
}
.Navbar__logo {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  background: -webkit-linear-gradient(right, #d61a5e, #ff8c05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiButton-label {
  /* color: #fff; */
  /* z-index: 1; */
  color: white;
}

.Navbar__navlink {
  margin-right: 20px !important;
}
